body {
	font-family: 'latoregular';
	box-sizing: border-box;
}

.landingWrapper {
	height: 100vh;
	background-color: #EEE;
}

.landing {
	max-width: 100vw;
	min-height: 100vh;
	padding: 12px;
	text-align: center;
	background-image: url("buffon.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	display: flex;
    	justify-content: center;
    	align-items: center;
    	flex-direction: column;
	-moz-box-shadow: inset 0 0 10em #000000;  
 	-webkit-box-shadow: inset 0 0 10em #000000;   
 	box-shadow: inset 0 0 10em #000000;
}

.banner {
	display: inline-block;
	width: 100%;
	max-width: 1000px;
	color: #181818;
}

.topBar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.nav {
	padding: 2px;
	height: 32px;
	display: flex;
	margin-bottom: 10px;
	background-color: white;
	position: relative;
	border-radius: 1px;
	box-shadow: 0 0 2px #181818;
	text-align: left;
}

.logo {
	background-color: #181818;
	color: white;
	font-size: 18px;
	width: 110px;
	margin-right: 30px;
	text-align: center;
	line-height: 28px;
	cursor: default;
}

.tabs {
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	font-size: 0;
}

.tab {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: #181818;
	font-size: 18px;
	line-height: 28px;
	width: 150px;
	text-align: center;
}

.tab + .tab {
	border-left: 1px solid #AAAAAA;
}

.tab:hover {
	background-color: firebrick;
	color: white;
}

.tab-active {
	background-color: firebrick;
	color: white;
}

.tabIcon {
	padding-right: 4px;
}

.fa-gbp:before {
	font-size: larger;
	position: relative;
	top: 2px;
}

.fa-pencil-square-o:before {
	font-size: larger;
	position: relative;
	top: 3px;
}

.twitterIcon {
	position: absolute;
	top: 0;
	right: 8px;
	transform: translateY(50%);
	color: #131313;
	cursor: pointer;
	text-decoration: none;
}

.twitterIcon:hover {
	color: firebrick;
}

.search {
	height: 26px;
	line-height: 24px;
	vertical-align: middle;
	background-color: white;
	color: #181818;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 12px;
	box-shadow: 0 0 2px #181818;
	text-align: left;
}

.search-compact {
	flex-grow: 1;
	margin-left: 30px;
	margin-right: 58px;
	margin-top: 1px;
	border: 1px #AAA solid;
	box-shadow: 0 0;
}

.searchField {
	padding: 0;
	border: 0;
	margin: 0;
	width: 90%;
}

.scroll {
	cursor: pointer;
	color: firebrick;
	text-decoration: none;
}

.scroll:hover {
	color: #131313;
}

.horizontalSeperator {
	height: 22px;
	background-color: #DDDDDD;
	background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.verticalSeperator {
	width: 1px;
	background-color: white;
}

.verticalSeperator-left {
	margin-right: auto;
}

.verticalSeperator-right {
	margin-left: auto;
}

.main {
	display: flex;
	background-color: #EEEEEE;
}

.ads {
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	flex-basis: 160px;
}

.ad {
	width: 160px;
	height: 600px;
	margin: 20px;
	background-color: white;
	border-radius: 1px;
}

.twitterWrapper {
	margin-left: auto;
	margin-right: auto;
}

.twitter {
	min-width: 300px;
	max-width: 300px;
	height: 1220px;
	margin: 20px;
	flex-grow: 1;
	border-radius: 1px;
	overflow-y: auto;
	background-color: white;
}

.posts {
	margin: 20px;
	flex-basis: 1000px;
	flex-grow: 0;
}

.post {
	border-radius: 1px;
}

.post + .post {
	margin-top: 40px;
}

.postHeader {
	background-color: firebrick;
	color: white;
	padding: 12px;
	position: relative;
}

.postBody {
	padding: 20px;
	background-color: white;
}

.title {
	font-size: 24px;
}

.date {
}

.share {
    	position: absolute;
    	right: 12px;
    	width: 62px;
    	height: 50%;
    	border-radius: 50px;
    	text-align: center;
    	top: 12px;
    	padding-top: 2px;
	border: 1px solid white;
	cursor: pointer;
}

.share:hover {
    	background-color: white;
    	color: firebrick;
}

.header1 {
}

.header2 {
}
