body {
	box-sizing: border-box;
	font-family: 'latoregular';
	font-size: 0;
	color: #292f33;
}

.landingWrapper {
	height: 100vh;
	background-color: #EEE;
}

.landing {
	display: flex;
	min-height: 100vh;
    	justify-content: center;
    	align-items: center;
	text-align: center;
	padding: 12px;
	background: url("buffon.jpg") center center / cover no-repeat fixed;
 	box-shadow: inset 0 0 160px #000000;
}

.topBarWrapper-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	text-align: center;
}

.logo {
	display: inline-block;
   	width: 120px;
	height: 120px;
	margin-right: 8px;
	vertical-align: middle;
	background-image: url("logo.png");
    	background-size: contain;
    	background-repeat: no-repeat;
	border-radius: 10px;
	box-shadow: 0 0 2px #292f33;
}

.topBarWrapper-fixed > .rightSideWrapper > .topBar > .searchWrapper > .logo {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 0;
	border-radius: 0;
	box-shadow: none;
}

.rightSideWrapper {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}

.topBarWrapper-fixed > .rightSideWrapper > .topBar {
    	display: inline-flex;
}

.nav {
	display: flex;
	margin-bottom: 10px;
	padding: 2px;
	background-color: #fff;
	border-radius: 1px;
	box-shadow: 0 0 2px #292f33;
}

.tab {
	text-decoration: none;
	color: #292f33;
	line-height: 28px;
	width: 150px;
}

.tab:hover {
	color: #fff;
	background-color: #b22222;
}

.tab-active {
	color: #fff;
	background-color: #b22222;
}

.tab + .tab {
	margin-left: 2px;
}

.tabIcon {
	padding-right: 4px;
}

.fa-pencil-square-o:before {
	font-size: larger;
	position: relative;
	top: 3px;
}

.fa-gbp:before {
	font-size: larger;
	position: relative;
	top: 2px;
}

.fa.twitterIcon {
	width: 28px;
	line-height: 28px;
	margin-left: 2px;
	color: white;
	background-color: #292f33;
	text-decoration: none;
	cursor: pointer;
}

.fa.twitterIcon:hover {
	background-color: #b22222;
}

.topBarWrapper-fixed > .rightSideWrapper > .topBar > .twitterIconWrapper > .fa.twitterIcon {
	margin-left: 0;
}

.topBarWrapper-fixed > .rightSideWrapper > .topBar > .searchWrapper {
	width: 260px;
    	height: 32px;
	margin-left: 20px;
	margin-right: 20px;
    	padding: 2px;
    	background-color: #fff;
	border-radius: 1px;
    	box-shadow: 0 0 2px #292f33;
}

.topBarWrapper-fixed > .rightSideWrapper > .topBar > .twitterIconWrapper {
    	height: 32px;
    	padding: 2px;
    	background-color: #fff;
	border-radius: 1px;
    	box-shadow: 0 0 2px #292f33;
}

.search {
	height: 26px;
	line-height: 24px;
	margin-right: 150px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 0 2px #292f33;
}

.topBarWrapper-fixed > .rightSideWrapper > .topBar > .searchWrapper > .search {
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
	box-shadow: none;
}

.searchField {
	border: 0;
}

.fa.scroll {
    	position: absolute;
	top: 62%;
	font-size: 120px;
	color: #fff;
	text-shadow: 0 0 2px #292f33;
	text-decoration: none;
	cursor: pointer;
}

.scroll:hover {
	color: #b22222;
}

.horizontalSeperator {
	height: 22px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-color: #ddd;
	background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

.verticalSeperator {
	width: 1px;
	background-color: #fff;
}

.verticalSeperator-left {
	margin-right: auto;
}

.verticalSeperator-right {
	margin-left: auto;
}

.twitterWrapper {
	margin-left: auto;
	margin-right: auto;
}

.twitterHeader {
	padding: 8px;
	position: relative;
	background-color: #fff;
}

.twitterTweets {
	font-size: 20px;
}

.twitterBy {
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
}

.twitterUser {
	color: #b22222;
	text-decoration: none;
	cursor: pointer;
}

.twitter {
	width: 300px;
	height: 1220px;
	margin: 20px;
	background-color: #fff;
}

.main {
	display: flex;
	font-size: 16px;
	background-color: #eee;
}

.posts {
	flex-basis: 1000px;
	margin: 20px;
}

.post {
	max-height: 300px;
	overflow-y: hidden;
	border-radius: 1px;
}

.post + .post {
	margin-top: 50px;
}

.postHeader {
	position: relative;
	padding: 12px;
	color: #fff;
	background-color: #b22222;
}

.postHeaderTitle {
	font-size: 24px;
}

.postHeaderShare {
    	width: 62px;
    	height: 50%;
	border: 1px solid #fff;
    	padding-top: 2px;
    	position: absolute;
    	top: 12px;
    	right: 12px;
    	text-align: center;
    	border-radius: 50px;
	cursor: pointer;
}

.postHeaderShare:hover {
    	color: #b22222;
    	background-color: #fff;
}
.postBody {
	padding: 20px;
	background-color: #fff;
}

.postFooter {
    	padding: 10px;
    	text-align: center;
    	color: #fff;
	background-color: #292f33;
	cursor: pointer;
}

.postFooter:hover {
	background-color: #b22222;
}

.postFooter + .post {
	margin-top: 50px;
}

.ads {
	flex-basis: 160px;
	margin-left: auto;
	margin-right: auto;
}

.ad {
	width: 160px;
	height: 600px;
	margin: 20px;
	background-color: #fff;
	border-radius: 1px;
}
