a {
  	color: #b22222;
}

body {
	box-sizing: border-box;
	font-family: 'latoregular';
	font-size: 0;
	color: #292f33;
	height: 100vh;
	background-color: #eee;
}

body:after {
	content: "";
    	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	justify-content: center;
    	align-items: center;
	text-align: center;
	padding: 12px;
	background: url("assets/buffon.jpg") center center / cover no-repeat;
 	box-shadow: inset 0 0 160px #000000;
	z-index: -1;
	will-change: transform;
}

.opacityOverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #eee;
	opacity: 0;
	height: 100vh;
}

.landingWrapper {
	height: 100vh;
	position: relative;
}

.landing {
	display: flex;
    	min-width: 100%;
	min-height: 100%;
	justify-content: center;
    	align-items: center;
	text-align: center;
	padding: 12px;
}

.fa.scroll {
    	position: absolute;
	left: 50%;
	top: 65%;
	transform: translateX(-50%);
	font-size: 120px;
	color: #fff;
	text-shadow: 0 0 2px #292f33;
	text-decoration: none;
	cursor: pointer;
	z-index: 2;
}

.scroll:hover {
	color: #b22222;
}

.horizontalSeperator {
	height: 22px;
	background-color: #ddd;
	background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.verticalSeperator {
	display: none;
	width: 1px;
	background-color: #fff;
}

.verticalSeperator-left {
	margin-right: auto;
}

.verticalSeperator-right {
	margin-left: auto;
}

.twitterWrapper {
	display: none;
	margin-left: auto;
	margin-right: auto;
}

.twitterHeader {
	padding: 10px 10px 11px 10px;
	position: relative;
	background-color: #fff;
}

.twitterTweets {
	font-size: 20px;
}

.twitterBy {
	font-size: 12px;
	padding-left: 2px;
	padding-right: 2px;
}

.twitterUser {
	color: #b22222;
	text-decoration: none;
	cursor: pointer;
}

.twitter {
	width: 300px;
	height: 1250px;
	margin: 20px;
	background-color: #fff;
}

.mainWrapper {
	text-align: center;
	background-color: #eee;
}

.main {
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	padding-top: 8px;
	background-color: #eee;
	text-align: left;
}

.ads {
	display: none;
	flex-basis: 160px;
	margin-left: auto;
	margin-right: auto;
}

.ad {
	width: 160px;
	height: 600px;
	margin: 20px 20px 50px 20px;
	background-color: #fff;
	border-radius: 1px;
}

.mobileAdWrapper {
	padding-bottom: 8px;
	text-align: center;
	overflow: hidden;
}

.mobileAd {
    	display: inline-block;
    	width: 322px;
    	height: 52px;
    	background-color: white;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.mobileAd.mobileAdBox {
	display: inline-block;
	width: 234px;
	height: 60px;
	background-color: white;
	border: 0;
}

.tabletAd {
	width: 300px;
    	height: 250px;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
    	background-color: white;
}

.tabletAd-top {
	margin-top: 20px;
}

.footer {
	margin-top: 50vh;
	background-color: #eee;
}
 
.aboutWrapper {
	max-width: 1000px;
	margin: 8px auto;
}

.about {
	margin-left: 8px;
	margin-right: 8px;
	background-color: white;
}

.about + .about {
	margin-top: 8px;
}

.aboutHeading {
	font-size: 20px;
	padding: 8px;
	background-color: #b22222;
	color: white;
}

.aboutBody {
	padding: 8px;
}

.aboutText {
	font-size: 16px;
    	line-height: 20px;
}

.aboutText + .aboutText {
	padding-top: 8px;
}

.hidden {
	display: none !important;
}

.hiddenInput {
	display: none;
	width: 0;
	height: 0;
	overflow: hidden;
	z-index: -1;
}

@media (min-width: 324px) {
	.mobileAd {
		border: 1px solid #ccc;
	}

	.mobileAd.mobileAdBox {
		border: 0;
	}
}

@media (min-width: 728px) {
	.main {
		padding-top: 20px;
	}

	.mobileAdWrapper {
		padding-bottom: 20px;
	}
	
	.mobileAd {
		width: 728px;
		height: 90px;
		border: 0;
	}

	.aboutWrapper {
		margin: 20px auto;
	}
	
	.about {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.about + .about {
		margin-top: 20px;
	}
	
	.aboutHeading {
		font-size: 24px;
		padding: 12px;
	}
	
	.aboutBody {
		padding: 20px;
	}
	
	.aboutText + .aboutText {
		padding-top: 10px;
	}
}

@media (min-width: 1000px) {
	.main {
		display: table;
		width: 100%;
		font-size: 16px;
		padding-top: 0;
	}

	.twitterWrapper {
		display: table-cell;
		width: 340px;
		margin-left: auto;
		margin-right: auto;
		vertical-align: top;
	}

	.verticalSeperator-left {
		display: table-cell;
	}

	.posts {
		display: table-cell;
		padding: 20px;
	}

	.mobileAdWrapper {
		display: none;
	}
}

@media (min-width: 1200px) {
	.fa.scroll {
		top: 62%;
	}
	
	.main {
		display: flex;
	}

	.twitterWrapper {
		display: initial;
	}
	
	.verticalSeperator-left {
		display: inital;
	}

	.posts {
		display: initial;
		margin-top: 20px;
		padding: 0;
	}

	.verticalSeperator-right {
		display: initial;
	}

	.ads {
		display: initial;
	}

	.tabletAd {
		display: none;
	}
}
